@import "tailwindcss";
@import "leaflet/dist/leaflet.css";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Reset dasar agar tidak ada scrollbar liar */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Mencegah double scroll */
}

/* PAKSA LEAFLET MUNCUL */
.leaflet-container {
  width: 100% !important;
  height: 100% !important;
  z-index: 1; /* Pastikan di bawah overlay SIVA kamu */
}

/* Pastikan main container juga penuh */
main {
  height: 100vh;
  width: 100vw;
}

/* ANIMASI UNTUK TRANSIT TO TRAP (Ant Path Effect) */
.ant-path {
  stroke-dasharray: 10, 15;
  animation: march 1s linear infinite;
}

@keyframes march {
  0% { stroke-dashoffset: 25; }
  100% { stroke-dashoffset: 0; }
}